.card {
  min-width: 220px;
  border: 1px solid grey;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  -webkit-box-shadow: inset 0px 150px 40px -150px currentColor;
  -moz-box-shadow: inset 0px 150px 40px -150px currentColor;
  box-shadow: inset 0px 150px 40px -150px currentColor;
}

.card h3,
.card p {
  color: white;
}

.card_header {
  padding: 1em;
}

.card_toolbar {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card_toolbar p {
  font-size: 12px;
}

@media (prefers-color-scheme: light) {
  .card h3,
  .card p {
    color: #1a1a1a;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 80vw;
  }
}
