#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0px 0 20px;
}

.projects {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 1em;
}

.toolbar {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin: 0 auto 1em;
  width: 200px;
}
